#root {
  max-width:100%;
  margin: 0 auto;
  text-align: center;

}

.header{
  font-family: 'Times New Roman', Times, serif;
  font-size:7px;
  padding:5px;
  background-color: #7ab3e9;
  color:black;
  text-align: center;
  padding: 10px 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.content {
  width: 100%;
  display:flex;
  margin-left: 0px;
  padding: 10px;
  margin-right: 0px;
  background-color: #fff;
}

.content h3,h2 {
  color: rgb(57, 15, 15);
}
.header h2{
  font-size:17px;
}

 .footer {
  width: 100%;
  background-color: #e5e7eb;
  color: #1f2937;
  border-radius: 0.5rem;
  padding: 2.5rem;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 100%;
}
 


.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar {
  background-color:black;
  padding: 1rem;
  text-align: justify;
}

.navbar-menu li {
  margin-right: 100px;
}

.navbar-menu a {
  color: white; 
  font-size: 15px; 
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.App {
 display:grid;
}





